body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #parametersForm {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  #parametersForm:hover {
    transform: translateY(-5px);
  }
  
  .parameter {
    margin-bottom: 25px;
    transition: transform 0.3s ease-in-out;
  }
  
  .parameter:hover {
    transform: scale(1.05);
  }
  
  .parameter label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .slider {
    width: 100%;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .slider::-webkit-slider-thumb:hover {
    background: #48a447;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .slider::-moz-range-thumb:hover {
    background: #48a447;
  }

input[type="submit"] {
    display: block; /* Change the button to a block element */
    margin: 0 auto; /* Center the block element */
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  
